---
import BaseLayout from '../layouts/Layout.astro';
import { getMaintenancePage } from '../lib/api/strapi';
import MarkdownContent from '../components/MarkdownContent.astro';
import type { MaintenanceContent } from '../interfaces/strapi';

// Récupération des données de la page de maintenance depuis Strapi
let maintenanceData: MaintenanceContent;
const response = await getMaintenancePage();
maintenanceData = response.data.attributes;

// Formatage des données
const title = maintenanceData.title;
console.log(title);
---

<BaseLayout title={title}>
    <div class="maintenance container">
        <div class="maintenance-text">
            <h1>{maintenanceData.title}</h1>

            <div class="maintenance-message">
                <MarkdownContent content={maintenanceData.message} />
            </div>
        </div>
    </div>
</BaseLayout>